
@font-face { font-family: Montserrat; font-weight: 400; src: url('fonts/Montserrat-Regular.otf'); }
@font-face { font-family: Montserrat; font-weight: 200; src: url('fonts/Montserrat-Light.otf'); }
@font-face { font-family: Montserrat; font-weight: bold; src: url('fonts/Montserrat-Bold.otf'); }

body {
	font-family: Montserrat;
	font-weight: 200;
	background: #40c7f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #40c7f1 0%, #4778bc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #40c7f1 0%,#4778bc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #40c7f1 0%,#4778bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c7f1', endColorstr='#4778bc',GradientType=0 ); /* IE6-9 */
}

h1 {
	margin: 40px auto;
	width: 267px;
	text-align: center;
}

h1 img {
	width: 100%;
}

.container {
	max-width: 1040px;
	margin: 30px auto 80px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 1px #ccc;
	padding: 0;
	overflow: hidden;
}

#banner {
	background: url("img/banner.png") #9dd0b8 no-repeat;
	padding: 10px;
	height: 403px;
}

#banner > section {
	margin-top: 145px;
	width: 360px;
	margin-left: 50px;
}

#banner h2 {
	font-weight: 200;
	font-size: 22px;
	color: #333132;
	margin-bottom: 20px;
	letter-spacing: .9px;
}

#banner p {
	font-size: 16px;
	color: #58595b;
	line-height: 1.6;
}

#icons {
	height: 95px;
	padding: 25px;
	background-color: #ededee;
}

#icons li {
	display: inline-block;
	font-size: 12px;
	color: #333132;
	width: 31.5%;
	text-align: center;
}

#icons li:before {
	width: 20px;
	height: 20px;
	content: " ";
	display: block;
	margin: 0 auto 5px;
}

#icons li:nth-child(1):before {
	background: url("img/icon4.png") no-repeat;
}

#icons li:nth-child(2):before {
	background: url("img/icon2.png") no-repeat;
}

#icons li:nth-child(3):before {
	background: url("img/icon3.png") no-repeat;
}

#form {
	padding: 50px 0;
}

form > section {
	display: inline-block;
	width: 50%;
	padding-left: 50px;
	padding-bottom: 10px;
	vertical-align: top;
}

form > section:nth-of-type(2) {
	width: 48%;
}

form > section:nth-of-type(1) {
	border-right: 1px solid #ddd;
}

form h4 {
	font-size: 12px;
	color: #569fd7;
	letter-spacing: .5px;
	font-weight: 200;
	margin-bottom: 18px;
	margin-left: 2px;
	visibility: hidden;
}

input:focus {
	outline: none;
	background-color: #eee;
}

.form-control-rk {
	border: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 22px;
	width: 400px;
	font-size: 16px;
	font-weight: 200;
}
select.form-control-rk {
	margin-bottom: 0;
}

input::-webkit-input-placeholder {
   color: #bcb3c0;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #bcb3c0;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #bcb3c0;  
}

input:-ms-input-placeholder {  
   color: #bcb3c0;  
}
/*
select {
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background: none;
}

select::-ms-expand {
    display: none;
}
*/

.selectStyle {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background: none;
    width: 400px;
    margin-bottom: -8px; /* 32 */
    position: relative;
}

.selectStyle select {
    padding: 1px 0;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #bcb3c0; 
    position: relative;
}

.selectStyle div:before {
	content: '';
	display: block;
	width: 0; 
	height: 0; 
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	border-top: 4px solid #555;
  	position: absolute;
  	right: 0px;
  	top: 10px;
}

.selectStyle select:focus {
    outline: none;
    background-color: #eee;
}

#dates {
	display: none;
}

#loger {
	padding: 15px 0;
	display: block;
	width: 230px;
	margin: 35px auto 15px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #569fd7;
	font-weight: 200;
	letter-spacing: .5px;
}

#loger:hover {
	box-shadow: 1px 0 2px #000000;
}

.errors-here {
	margin-top: 10px;
	color: red;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
	
	form > section {
		padding-left: 35px;
	}

	.form-control-rk, .selectStyle {
		width: 300px;
	}

}

@media (max-width: 767px) {

	form > section {
		display: block;
		width: 100%;
		padding-left: 70px;
	}

	form > section:nth-of-type(2) {
		width: 100%;
	}

	form > section:nth-of-type(1) {
		border-right: none;
	}

	.form-control-rk, .selectStyle {
		width: 400px;
	}

	div:nth-of-type(1) .select {
		margin-top: 22px;
	}

	#loger {
		margin-left: 70px;
	}

}

@media (max-width: 530px) {

	body {
		min-width: 440px;
	}

	#banner > section {
		width: 80%;
	}

	form > section {
		padding-left: 40px;
	}

	.form-control-rk, .selectStyle {
		width: 250px;
	}

	#loger {
		margin-left: 40px;
	}
}